
:root {
  --pink: #FF7EA4;
  --blue: #57AEF5;
  --green: #41D1BC;
  --tb: #333333;
}
::selection {
  background: var(--pink);
}
html, body {
  -webkit-overflow-scrolling: none;
  scroll-behavior: smooth;
}
body{
  -webkit-overflow-scrolling: auto;
}
*,html {
  -webkit-overflow-scrolling: none !important;
}
html {
  -webkit-overflow-scrolling-maximum: 100px/s;
}
@font-face {
  font-family: 'Gt-America-EB';
  src: url(/GT-America-Expanded-Black.woff) format('woff');
}
@font-face {
  font-family: 'Gt-America-EL';
  src: url(/GT-America-Expanded-Light.woff) format('woff');
}
@font-face {
  font-family: 'Eudoxus';
  src: url(/EudoxusSans-Regular.woff) format('woff');
}

body,html{
  margin: 0;
}
h1,h4,h5,h6{
  font-family: Gt-America-EB;
}
h2{
font-family: Gt-America-EL;
}
h3,p{
  font-family: Eudoxus;
  line-height: 150%;
}
span{
  color: var(--tb);
  font-family: Gt-America-EB;
  word-spacing: 15rem;
}

/*horizontal scroll importante*/
.containerhz{
  padding: 5rem;
}
.sticky_parent{
  width: 100%;
  height: 500vh;
  position: initial;
  margin: 0;
}
.sticky{
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}
.scroll_section{
  will-change: transform;
  position: absolute;
  top: 0;
  height: 100%;
  width: 1200vw;
  will-change: scroll-position;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0vw;
}
*{
  cursor: none !important;

  }
.imgs{
  width: 400px;
  height: 80%;
  object-fit: cover;
  object-position: center;
  
}
.hzc{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around   ;
  padding: 0 36px;

}
.imc{
  height: fit-content;
  width: 30vw;
  object-fit: scale-down;
  border-radius: 8px;
  transition: ease-in-out;
  box-shadow: 0px 4px 20px 0px rgba(88, 88, 88, 0.15), 0px 0px 12px 0px rgba(88, 88, 88, 0.10);
}
.imc:hover{
  filter: saturate(1.1) contrast(1.1);
  transition: ease-in-out;
}
.texthz{
  width: 30vw;
  padding-top: 15vh;
  padding-left: 36px;
}
.pahz{
  display: flex;
  flex-direction: row;
  width: min-content;
  margin: 0 15vw;
}
.pppphz{
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.imch{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*cursos*/
.cursor{
  text-align: center;
  position: fixed;
  width: 20px;
  height: 20px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 50%;
  border: 1px solid var(--tb);
  transition: all 0.2s ease-out;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;

}
.grow{
  animation: growAnimation .5s ease-in-out infinite !important; /* Apply the growAnimation with a duration of 3 seconds, ease-in-out timing, and infinite repeat */
  transform: scale(1); /* Initial scale */
  background: var(--pink);
  mix-blend-mode: difference; 
  border: none;
}

.cursor-down{
  border: none;
  background-color: var(--pink);
  transform: scale(1); /* Initial scale */
  animation: cursorDownAnimation 0.9s ease-in-out infinite !important; /* Apply the cursorDownAnimation with a duration of 0.5 seconds, ease-in-out timing, and infinite repeat */
}
/*animacion del cursor*/
@keyframes cursorDownAnimation {
  0% {
    transform: scale(1); /* Initial scale at the start of the animation */
  }
  50% {
    transform: scale(1.2); /* Scale up to 2 at 50% of the animation duration */
  }
  100% {
    transform: scale(1); /* Back to the initial scale at the end of the animation */
  }
}
@keyframes growAnimation {
  0% {
    transform: scale(1.5); /* Initial scale at the start of the animation */
  }
  50% {
    transform: scale(2.5); /* Scale up to 4 at 50% of the animation duration */
  }
  100% {
    transform: scale(1.5); /* Back to the initial scale at the end of the animation */
  }
}



/*boton test*/

.buttons {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;
}

.buttons button {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  margin: 0px;
  color: #ffffff;
  font-family: Gt-America-EB !important;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px !important;
}


.buttons button p {
  padding: 0;
  margin: 0;
  transition: all 0.05s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.buttons button p:before, .buttons button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.buttons button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.buttons button p:after {
  content: attr(data-text);
  top: 150%;
}


.buttons button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}


.buttons button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}


@keyframes start {
  from {
    top: -50%;
  }
}


.buttons button:active {
  outline: none;
  border: none;
}

/* inspired form gumroad website */
button {
  --bg: #000;
  --hover-bg: #ffffff;
  --hover-text: var(--tb);
  color: #000000;
  border: 1px solid var(--bg);
  border-radius: 8px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  width: 100%;
}

button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  transition: 0.2s;
  border: 1px solid var(--bg);

}

button:active {
  transform: translate(0);
  box-shadow: none;
}

.spaceup{
  padding-top: 10%;
}
.spaceleft{
  padding-left: 10%;
}

.aref{
  height: min-content;
  text-decoration: none !important;
  transition: all ease-in-out .2s;

}
.aref:hover{
  height: fit-content;
  background-color: var(--pink);
  scale: 1.1;
  rotate: 5deg;
  color: black;
  text-decoration: underline !important;
}

/*sm buttons*/

.socialmedia {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
  gap: 69px;
}

/* for all social containers*/
.socialContainer {
  display: flex;
  overflow: hidden;
  transition-duration: .3s;
  text-decoration: none !important;

}
/* instagram*/
.containerOne:hover {
 color: var(--pink) !important;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
 color:var(--blue);
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
 color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  color: var(--green);
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
  text-decoration: none !important;

}
.atb{color: var(--tb);}
.socialSvg {
  width: fit-content;
  text-decoration: none !important;

}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/**/

.hod{
  display: none;
}
.hom{
  display: inline;
}

@media screen and (max-width:400px) {
  h2{
    font-size: .7em;
  }
  h1{
    font-size: 1.4em !important;
  }
}
@media screen and (max-width:769px) {
  .pahz{
    margin: 0 10vw;
  }
  .btfm{
    font-size: 4em !important;
  }
  .sticky_parent{
    height: 1200vh;
    
  }
  .scroll_section{
    width: 2000vw;
    height: 100%;
  }

  .animatedcharacter{
    font-size: 1rem !important;
  }
  .socialmedia{
    flex-direction: column;
    gap: 0;
  }
.cursor,.grow, .cursor-down{
  display: none;
}

  .texthz{
    width: 80vw;
  }
  .imc{
    width: 70vw;
  }

  .hom{
    display: none;
  }
  .hod{
    display: inline;
  }
}

.animatedcharacter{
  overflow: hidden;
   display: flex; 
   font-size: 2rem;
}

.backgorund{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  z-index: -99;
}

.btfm{
  font-size: 13em;
}

.btbcu{
  font-size: 15rem;
}